//Primary colors
$primary-red: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$dark-cyan: #25564b;//graphic design text
$dark-blue: #19536b;//photography text
$moderate-cyan: hsl(169, 50%, 59%);//footer

//Neutral
$very-blue:hsl(212, 27%, 19%);
$very-dark-grayish-blue:hsl(213, 9%, 39%);
$grayish-blue:hsl(210, 4%, 67%);
$dark-grayish-blue:hsl(232, 10%, 55%);
$white:hsl(0, 0%, 100%);

//Font weights
$medium: 600;
$semi-bold: 700;
$bold: 900;
